<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EDGAR Browser - ECKSBEE</title>
	</head>
	<body>
		<div style="position:fixed;left:0;top:0;height:5vh;width:100vw;border:none;">
			<style>
				nav {
					display: flex;
					justify-content: space-between;
					background: #efefef;
					height: 5vh;
				}
				nav h1 {
					padding: 0;
					margin: auto 0;
				}
				nav ul {
					display: flex;
					list-style: none;
					padding: 0;
					margin: auto 0;
				}
				nav li {
					padding-left: 1rem;
				}
			</style>
			<nav>
				<h1>EDGAR Browser powered by TeleFacts, an <a href="https://ecksbee.com" target="_blank">ECKSBEE</a> software</h1>
				<ul>
					<li><a href="https://www.sec.gov/{{.Path}}" target="_blank">Open source filing in https://www.sec.gov</a></li>
					<li><a href="/">Close</a></li>
				</ul>
				</nav>
		</div>
		<iframe src="/browser/?id={{.Hash}}" style="position:fixed;left:0;bottom:0;height:95vh;width:100vw;border:none;" title="Concept Network Browser, powered by TeleFacts"></iframe>
	</body>
</html>