<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EDGAR Browser - ECKSBEE</title>
		<script type="text/javascript">
		window.onload = function () {
			var conn;
			var msg = document.getElementById("msg");
			msg.innerText = "Importing..."
			fetch('/{{.Cik}}/{{.AccessionNumber}}/hash').then(
				(response) => {
					if (!response.ok) {
						msg.innerText = "Import failed!";
						return;
					}
					msg.innerText = "Import successful.  Starting up Concept Network Browser...";
					return response.json();
				}
			).then(
				(data) => {
					window.location.replace("/review/" + data.hash);
				}
			)
  			.catch((error) => console.error(error));
		};
		</script>
	</head>
	<body>
		<div>
			<h1>EDGAR Browser powered by TeleFacts, an <a href="https://ecksbee.com" target="_blank">ECKSBEE</a> software</h1>
			<h2 id="msg">...</h2>
		<div>
	</body>
</html>