<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EDGAR Browser - ECKSBEE</title>
	</head>
	<body>
		<h1>Importing</h1>
		<h2>{{.Cik}}</h2>
		<p>{{.AccessionNumber}}</p>
	</body>
</html>