<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EDGAR Browser powered by TeleFacts, an ECKSBEE software</title>
	</head>
	<body>
		<div>
			<h1>EDGAR Browser powered by TeleFacts, an <a href="https://ecksbee.com" target="_blank">ECKSBEE</a> software</h1>
			<h2>Results for {{.SearchText}}</h2>
			{{if .Results }}
				<ul>
					{{range .Results}}
							<li>
								<h3>{{.Title}}</h3>
								<p>
									{{.Summary}}
									<a href="/import?path={{.PercentEncodedEdgarUrl}}">Browse</a>
								</p>
							</li>
					{{end}}
				</ul>
			{{else}}
				<p>No results</p>
				<p><a href="/" >Go back</a></p>
			{{end}}
		</div>
	</body>
</html>