<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EDGAR Browser powered by TeleFacts, an ECKSBEE software</title>
	</head>
	<body>
		<div>
			<h1>Results for {{.SearchText}}</h1>
			{{.Items}}
		</div>
	</body>
</html>